.DS_Store

# drupal base files
/*.php
/*.txt
/.htaccess
/includes/*
/misc/*
/modules/*
/profiles/*
/scripts/*
/themes/*
/web.config

# added modules and themes
sites/all/themes/*
sites/all/modules/*
sites/all/libraries/*
sites/default/*
sites/all/modules/lfz/tmp/sa/*
!/sites/all/themes/bootstrap
!/sites/all/modules/lfz